{% extends "base.html" %}

{% block title %}Sign In{% endblock %}

{% block content %}
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Django-Node Chat</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        {% if  request.user.is_authenticated %}
          <a class="mdl-navigation__link" href='{% url "account_logout" %}' >Logout</a>
        {% else %}
          <a class="mdl-navigation__link" href='{% url "account_login" %}' >Log In</a>
          <a class="mdl-navigation__link" href='{% url "account_signup" %}' >Sing Up</a>
        {% endif %}
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Django-Node Chat</span>
    <nav class="mdl-navigation">
      {% if  request.user.is_authenticated %}
        <a class="mdl-navigation__link" href='{% url "account_logout" %}' >Logout</a>
      {% else %}
        <a class="mdl-navigation__link" href='{% url "account_login" %}' >Log In</a>
        <a class="mdl-navigation__link" href='{% url "account_signup" %}' >Sing Up</a>
      {% endif %}
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <h2>Welcome to Django Node Realtime Chat</h2>
      <a href='{% url "chat_room_create" %}'>Make Room</a>
      <table class="mdl-data-table mdl-js-data-table">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Room name</th>
            <th class="mdl-data-table__cell--non-numeric">Room creator</th>
          </tr>
        </thead>
        <tbody>
          {% for object in object_list %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                <a href='{% url "chat_message_list" room_name=object.name %}'>{{object.name}}</a>
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                <a href='{% url "chat_message_list" room_name=object.name %}'>{{object.creator.username}}</a>
              </td>
            </tr>
	  {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}
